<a class="collection__card" href="{{ collections.url }}">
  <div class="collection__cardimageContainer">
      <img src="{{ collections.image }}" alt="{{ collections.title }}">
      <p>{{ collections.title }}</p>
  </div>
</a>